<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Site de commerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="lstCourse">Home</a></li>
      <li><a routerLink="lstCourse">Liste des courses</a></li>
      <li><a routerLink="ajoutPdt">Ajout d'un produit</a></li>
      <li><a routerLink="deletePdt">Suppression d'un produit</a></li>
      <li><a routerLink="editPdt">Modification d'un produit</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
