
  <h2>Liste des courses</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>Libelle</th>
    <th>Quantite</th>
    <th *ngIf="etat==='delete'"></th>
    <th *ngIf="etat==='update'"></th>
  </tr>
  </thead>
  <tbody>

  <!--
  <app-course *ngFor="let pCourse of courses" [id]="pCourse.id" [libelle]="pCourse.libelle" [quantite]="pCourse.quantite">
  </app-course>
   -->
    <tr *ngFor="let pCourse of courses">
      <td>{{pCourse.id}}</td>
      <td>{{pCourse.libelle}}</td>
      <td>{{pCourse.quantite}}</td>
      <td *ngIf="etat==='delete'"><button class="btn btn-success" (click)="deletePrd(pCourse.id)">Supprimer</button></td>
      <td *ngIf="etat==='update'"><button class="btn btn-success" (click)="updatePrd(pCourse)">Modifier</button></td>
    </tr>



 </tbody>
</table>


